body {
    font-family: sans-serif;
    font-size: 20px;
}

header{
    background-color: aqua;
    padding: 6px;
}

h1{
    text-align: center;
    color: BlueViolet; 
}
footer p{
    background-color: Lime ;
    color: black;
}
nav{
    background-color: #5e9c31;
}

nav a{
    margin: 20px;
    font-size: 20px;
    text-decoration: none;
    color: white;
}

.foto{
    border: 2px solid navy;
    border-radius: 10px;
    padding: 6px;
}

main{
    margin: 20px;
}
h2{
    color: DeepSkyBlue;
}
